# Compiled class file
*.class

# Log files
*.log
log/

# Maven files
target/
.mvn
mvnw
mvnw.cmd

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

# Dependencies
## For Maven
repository/
